@model NumberGenerators.Generator


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h6>Wellcome @(Model.UserName)</h6>


<form action="/GeneratePage/GenerateNumbers" method="post">
    <input type="button" />
</form>