@model NumberGenerators.Generator


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h6>Wellcome @(Model.UserName)</h6>


@using (Html.BeginForm("GenerateNumbers", "GeneratePage"))
{
    <input type="button" />
}